node_modules
dist
.DS_Store
*.tar.gz

# Environment variables
.env
.env.local
.env.production

# Drizzle migrations (tidak perlu di Vercel)
drizzle/

# Vercel
.vercel

# Development
*.log
.cache/

# Build outputs
build/